*{
    margin: 0;
}
#navbar{
    /* border: 1px solid red; */
    width: 100%;
    height: 80px; 
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: black;
    display:flex;
    color: white;
   /* justify-content: space-around; */
}
#navbar>div>img{
  height: 40px;
  width: 100px;
  margin-top: 16px;
}
#navbar>#Navmenu{
   display: grid;
   grid-template-columns: repeat(5,1fr);
   width: 60%;
   height: 100%;
   /* border: 1px solid red; */
   margin-left: 50px;
    justify-content: space-evenly;
}
#navbar>#Navmenu>div{
    margin-top: 25px
}
#navbar>#NavIcons{
     width: 30%;
     height: 100%;
     /* border: 1px solid blue; */
     display: grid;
     grid-template-columns: repeat(4,1fr);
     
}
#navbar>#NavIcons>span{
  /* justify-content: space-evenly */
  margin-top: 25px;
  height: 25px;
  width: 25px;

}
.main{
  height: 550px;
  width: 40%;
  margin: auto;
  margin-top: 15px;
}
.main>#backHome{
  width: 100%;  
  height: 60px; 
}
#backHome>span{
  float: right;
  border: 1px solid;
  height: 30px;
  width: 30px;
  text-align: center;
  margin-top: 6px;
  border-radius: 20px;
  padding-top: 2px;
  color: red;
  margin-right: 15px;
  font-size: 24px;
  cursor: pointer;
}
#backHome>span>a{
  color: red;
}
#consultQuestion{
  font-family: 'Poppins', sans-serif;
  font-size: 26px;
  height: 100px
}
.main>#Problems{
  width: 100%;
  height: 40%;
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(1,1fr);
}
#Problems>div{
  border: 1px solid grey;
  border-radius: 5px;
  width: 100%;
  font-size: 16px ;
  height: 70px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.main>#Problems>div>img{
  margin-right: 0%;
  height: 60px;
  width: 90px;
  margin-left: 400px;
}
#Problems>div>span{
  display: flex;
  gap: 15px;
  width: 100%;
  margin-top: 10px;
  margin-left: 15px;
}
#Problems>div>span>#selector{
  height: 20px;
  width: 20px;
}
.backAndFront{
  width: 40%;
  margin: auto;
  /* border: 1px solid black; */
  display:flex;
  margin-top:130px ;
  height: 40px;
  justify-content: space-between;
}
.backAndFront>h2>span{
  margin-right: 15px;
  color: grey;
  font-size: 28px;
  cursor: pointer;
}
.backAndFront>#next>button{
  font-size: 39px;
  border: none;
  background-color: white;
  cursor: pointer;
}
#banner{
  height: 40px;
  width: 40%;
  background-color: black;
  color:white;
  text-align: center;
  margin: auto;
  font-size: 24px;
  margin-top: 15px;

}
#banner{
  text-align: center;
  
}
#banner>img{
  height: 400px;
  width: 105%;
  margin-left: -20px;
}

@media only screen and (min-width: 680px) and (max-width: 950px) {

  .main{
    margin-left: 50px;
    
  }
  .main>#Problems{
    margin-top: 15px;
  }   
  #banner{
    width: 60%;
  }
}
@media only screen and (min-width: 200px) and (max-width: 679px){
  .main{
    margin-left: 50px;
    
  }
  .main>#Problems{
    margin-top: 55px;
  }   
  #banner{
    width: 60%;
  }
  #navbar{
    width: 100%;  
  }
}